* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #080613;
    color: white;
}

div {
    overflow: hidden;
}

ul {
    list-style-type: none;
    flex-direction: row;
}

ul > li {
    padding: 2vw;
}

.Flex_Dis {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Border_Rad {
    border-radius: 5vh;
    box-shadow: inset 0 0 1px 1px white;
}

.Main_Div {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.Main_Div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    height: 100vh;
    width: 100%;
}

.Git_Box {

    height: 33vh;
    width: 80%;
    background-color: white;
    color: blue;

}

.Now {
    height: 53vh;
    width: 80%;

    flex-direction: column;
}

.My_Int {
    height: 48vh;
    width: 80%;

    box-shadow: inset 0 0 0 0 white;

}

.Lang {
    height: 38vh;
    width: 80%;

    flex-direction: column;
    justify-content: space-around;
}

.Velogs {
    height: 43vh;
    width: 80%;

    flex-direction: column;
}

.Velogs > div {

    padding: 2vh;
    height: 20%;

}

.My_Job {
    height: 43vh;
    width: 80%;
}

.Lang_Button {

}

.Comu_Lang {
    display: none;
}

.Git_Icon {
    height: 5vh;
    width: auto;
}

.Git_Box > ul > a > img {
    height: 10vh;
    padding: 2vh;
}

.My_Int > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}