* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* common class */
.d-flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.max-width {
    width: 100%;
}

/* Cementic class*/
.header {
    height: 10vh;
    padding: 0 3vw 0 3vw;
}

.body {
    height: 100%;
    background-color:aqua
}

/* detailed class */

.sizing {
    height: 100%;
}

.icons {
    height: 7vh;
}
